<nav>
  <ul fxLayout="column" fxLayoutAlign="start center">
    <li routerLinkActive="active">
      <button type="button" mat-stroked-button color="primary" routerLink="/page1">
        Page 1
      </button>
    </li>
    <li routerLinkActive="active">
      <button type="button" mat-stroked-button color="primary" routerLink="/page2">
        Page 2
      </button>
    </li>
    <li routerLinkActive="active">
      <button type="button" mat-stroked-button color="primary" routerLink="/page3">
        Page 3
      </button>
    </li>
  </ul>
</nav>
