<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Primary Fields</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="start">
        <div fxLayout="column">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input
              type="text"
              formControlName="firstName"
              matInput
              placeholder="E.g. John"
            />
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input
              type="text"
              formControlName="lastName"
              matInput
              placeholder="E.g. Smith"
            />
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field>
            <mat-label>Date Of Birth</mat-label>
            <input
              type="text"
              matInput
              value="{{ formData.dOB | date: 'yyyy-M-d' }}"
              disabled
            />
          </mat-form-field>
        </div>
      </div>
      <mat-card-header>
        <mat-card-title>Secondary Fields</mat-card-title>
      </mat-card-header>
      <div fxLayout="column" fxLayoutAlign="start">
        <mat-form-field>
          <input
            type="text"
            placeholder="Favourite meal?"
            aria-label="Favourite meal"
            matInput
            formControlName="favMeal"
            [formControl]="acControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of formData.options"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Personality</mat-label>
          <textarea
            matInput
            formControlName="personality"
            placeholder="E.g. Chirpy but subdued"
          ></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="end">
      <button
        type="button"
        mat-raised-button
        color="warn"
        [disabled]="!form.dirty"
        (click)="onReset()"
      >
        RESET
      </button>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!form.valid"
      >
        SAVE
      </button>
    </mat-card-actions>
  </mat-card>
</form>
